asgiref==3.11.1
certifi==2026.4.22
Django==5.2.11
gunicorn==26.0.0
idna==3.14
pillow==12.1.1
python-decouple==3.8
sqlparse==0.5.5
typing_extensions==4.15.0
tzdata==2025.3
urllib3==2.7.0
whitenoise==6.12.0
